@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,300;1,400;1,500;1,700;1,900&display=swap");
.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 1rem 5rem;
  flex: 1;
}

.left-navbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
}
.left-navbar li {
  padding: 1rem;
  margin-left: 1.5rem;
  font-size: 1.5rem;
  font-weight: 700;
  color: gray;
}
.left-navbar li:hover {
  transform: translateY(0.5rem);
  transition: all ease-in-out 0.6s;
  cursor: pointer;
}
.left-navbar .line {
  display: inline-block;
  width: 0.1vw;
  height: 7vh;
  background-color: black;
  margin-left: 1rem;
}

.logo {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-right: 1px solid rgb(209, 209, 209);
  height: 8vh;
}
.logo h2 {
  padding-right: 2rem;
  font-weight: 900;
  color: black;
}

.travelers-list > li > img {
  width: 3vw;
  height: 5vh;
  -o-object-fit: cover;
     object-fit: cover;
  max-height: -webkit-fit-content;
  max-height: -moz-fit-content;
  max-height: fit-content;
  border-radius: 50%;
  margin-left: 0;
}

.travelers-list li {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  margin-left: auto;
  width: 100%;
  height: 80%;
  border-radius: 2.5rem;
  text-align: center;
}

.travelers-list li h4 {
  position: relative;
  top: 0.6rem;
  right: 0.4rem;
}

.travelers-list li:hover {
  transition: all ease-in-out 0.8s;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.travel {
  display: none;
  position: absolute;
  width: 14vw;
  background-color: #e8efe1;
  border-radius: 2rem;
  padding: 1rem;
}

.travelers:hover > .travel {
  display: inline-block;
}

.right-navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.right-navbar li > img {
  width: 3vw;
  height: 5vh;
  -o-object-fit: cover;
     object-fit: cover;
  max-height: -webkit-fit-content;
  max-height: -moz-fit-content;
  max-height: fit-content;
  border-radius: 50%;
  padding: 0;
  margin: 0;
}
.right-navbar li {
  padding: 1rem;
  margin-left: 1.5rem;
  font-size: 1.5rem;
  font-weight: 700;
  color: gray;
}
.right-navbar li:hover {
  transform: translateY(0.5rem);
  transition: all ease-in-out 0.6s;
  cursor: pointer;
}
.right-navbar .list-property {
  padding: 0.5rem 1.5rem;
  outline: none;
  color: black;
  border: 1.5px solid gray;
  border-radius: 2rem;
}
.right-navbar .icon-bell button {
  font-size: 2rem;
  border: none;
}
.right-navbar .icon-bell .green-1 {
  display: inline-block;
  width: 0.7vw;
  height: 1.4vh;
  border-radius: 50%;
  background-color: #5fb97f;
  position: relative;
  bottom: 1.3vh;
  right: 0.9vw;
}

.right-navbar li:nth-child(2) i {
  padding-right: 0.8rem;
}

.hambergur {
  display: none;
  font-size: 2rem;
}

.item-header {
  display: none;
  margin: 1.2rem 1rem;
  align-items: center;
}
.item-header li > img {
  width: 10vw;
  height: 5vh;
  -o-object-fit: cover;
     object-fit: cover;
  max-height: -webkit-fit-content;
  max-height: -moz-fit-content;
  max-height: fit-content;
  border-radius: 50%;
  margin: 0 1rem;
}
.item-header .icon-bell-mobile button {
  font-size: 2rem;
  border: none;
}
.item-header .hambergur {
  display: flex;
}

.show-menu {
  height: 10rem;
}

@media (max-width: 480px) {
  .nav {
    font-size: 1.1rem;
    display: flex;
    margin: 1rem;
  }
  .right-navbar {
    display: none;
  }
  .item-header {
    display: flex;
    position: relative;
    top: 0.2rem;
  }
  .left-navbar {
    display: flex;
  }
  .left-navbar .logo {
    margin-left: auto;
    padding: 0;
    justify-content: space-evenly;
    border: none;
  }
  .left-navbar .logo img {
    max-width: 27%;
  }
  .left-navbar .travelers {
    display: none;
  }
}
.main {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 2rem 3rem 0;
}
.main .section-left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.main .section-left h2 {
  font-size: 4.2rem;
  font-weight: 600;
  margin-right: auto;
  margin-bottom: 0.5rem;
}
.main .section-left p {
  font-size: 1.2rem;
  font-weight: 500;
  color: gray;
  margin-right: auto;
  margin-bottom: 2rem;
}
.main .section-left div {
  margin-top: 1.2rem;
  margin-right: auto;
  font-size: 1.3rem;
  font-weight: 600;
}
.main .section-left div:hover:hover {
  transform: translateY(0.5rem);
  transition: all ease-in-out 0.6s;
  cursor: pointer;
}
.main .section-left div:nth-of-type(1) button {
  background-color: #5fb97f;
}
.main .section-left div:nth-of-type(2) button {
  background-color: #93a5ed;
}
.main .section-left div button {
  padding: 0.5rem 1.1rem;
  text-align: center;
  font-size: 1rem;
  font-weight: 500;
  color: snow;
  border: none;
  border-radius: 2rem;
  margin-right: 1rem;
}
.main .section-left div button i {
  background-color: #3b71fe;
  padding: 0.7rem;
  font-size: 1.2rem;
  position: relative;
  right: 4.5rem;
  border-radius: 50%;
}
.main .section-left div input {
  padding: 0.8rem;
  width: 19vw;
  border-radius: 2.5rem;
  border: 1px solid gray;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}
.main .section-right {
  align-items: flex-start;
  justify-content: center;
}
.main .section-right .item-1 {
  margin-top: 2rem;
  z-index: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  position: relative;
  left: 8rem;
}
.main .section-right .item-1 img {
  height: 50vh;
  width: 20vw;
}
.main .section-right .item-1 .image-small {
  background-color: #fdfdfd;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  width: 12vw;
  padding: 0.8rem;
  border-radius: 3rem;
  font-size: 1.2rem;
  font-weight: 700;
  position: relative;
  width: 14vw;
  right: 2rem;
}
.main .section-right .item-1 .image-small i {
  font-size: 1rem;
  color: yellow;
  margin-right: 0.4rem;
}
.main .section-right .item-1 .image-small img {
  transform: none;
}
.main .section-right .item-1 .image-small img {
  height: 6vh;
  width: 3vw;
  border-radius: 50%;
}
.main .section-right .item-2 {
  z-index: -1;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  position: relative;
  bottom: 4rem;
  right: 8rem;
}
.main .section-right .item-2 .image-small {
  background-color: #fdfdfd;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  width: 12vw;
  padding: 0.8rem;
  border-radius: 3rem;
  font-size: 1.2rem;
  font-weight: 700;
  position: relative;
  width: 14vw;
  right: 37rem;
}
.main .section-right .item-2 .image-small i {
  font-size: 1rem;
  color: yellow;
  margin-right: 0.4rem;
}
.main .section-right .item-2 .image-small img {
  transform: none;
}
.main .section-right .item-2 .image-small img {
  height: 6vh;
  width: 3vw;
  border-radius: 50%;
}
.main .section-right img {
  height: 30vh;
  width: 15vw;
  border-radius: 2rem;
}
.main .section-right img:hover:hover {
  transform: translateY(0.25rem);
  transition: all ease-in-out 0.6s;
  cursor: pointer;
}
.main .section-right .image-a {
  z-index: 1;
  position: absolute;
  right: 18rem;
  bottom: 3rem;
  height: 40vh;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: Roboto, Verdana, Geneva, Tahoma, sans-serif;
  line-height: 1.5;
  background-color: #fdfdfd;
  display: flex;
  flex-direction: column;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

i,
button {
  font-size: inherit;
  background-color: inherit;
  cursor: pointer;
}

li,
ol,
ul {
  list-style-type: none;
}/*# sourceMappingURL=style.css.map */