@import "../../Styles/scss/mixin";
@import "../../Styles/scss/variable";
body {
    height: 100%;
}

.header {
    .nav {
        margin: 0;
        padding: 0;
        margin-bottom: 1rem;
        gap: .1rem;
        .left-navbar {
            .logo {
                border: none;
            }
            .travelers {
                .travelers-list {
                    width: 25vw;
                    img {
                        width: auto;
                    }
                }
            }
        }
        .right-navbar {
            .icon-bell {
                display: none;
            }
            img {
                width: auto;
                height: 4vh;
            }
        }
    }
}

.footer {
    position: relative;
    top: 9rem;
    right: 4.5rem;
    bottom: 0;
    section {
        width: 70vw;
        height: 18vh;
        .list-data {
            width: 100%;
            display: flex;
            flex-direction: row;
            li {
                padding: .5rem;
            }
        }
    }
}