//////////Color//////////
//////////Color//////////
$bg-white-color:#fdfdfd;
$bg-dark-color:#131314;
$notifaction-color:#5fb97f;
$bg-color:#e8efe1;
$bg-button-color:#3b71fe;
$next-buttton-color:#a5cde4;
$bg-button-color-1:#93a5ed;
$color-speak-white: #f3f5f7;
$color-speak-dark:#242830;
$bg-white-color-obasity:rgba(253, 253, 253, .93) //////////Font-Size//////////
//////////Font-Size//////////